{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Harvesterken
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/cleaning.css' %}">
{% endblock head %}

{% block main %}
<section class="navigation">
    <div class="overlay">
        <img src="" alt="">
    </div>
    <section class="hero-section">
        <div class="logo-wrapper">
            <img src="{% static 'assets/logo.jpg' %}" alt="">
        </div>
        <p class="praise">
            Cleaning shouldn't be a chore,<br>
            that's why we're a call away, <br>
            to sweep you off your feet, every single day. <br>
        </p>
            <div class="contact-btn">                       
                <p class="contact ">CONTACT US</p><i class="fa-solid fa-phone"></i>
            </div>               
        <div class="hero-div" >
            <img id="hero" class="image" src="{% static 'assets/a.jpg' %}" alt="images">
        </div>
    </section>
</section>
<section class="cleaning-topics">
    <div class="cleaning-img">
        <div class="cleaning-overlay">
        </div>
        <div class="cleaning-explanation">
            <h1>
                Expert Cleaning Solutions for Every Need
            </h1>
            <p>We deliver comprehensive cleaning solutions, utilizing state-of-the-art equipment
                 and eco-friendly products to provide thorough and
                  specialized cleaning services, including janitorial services,
                   deep cleaning, move-in/move-out cleaning,
                 and specialized floor care, tailored to meet the unique needs
                  of homes, offices, and industries.
            </p>
            <h2>
                Services
            </h2>
        </div>
        <section class="call-me-sec cleaning-sort-holder ">
            <div class="flip-grid">
                <div class="flip-card">
                    <div class="clean-sort sort-white flip-card-inner" >
                        <div class="flip-card-front">
                            <h2>Janitorial Services</h2>
                        </div>
                        <div class="flip-card-back">
                            Regular maintenance and cleaning for commercial properties, ensuring a clean and professional environment.
                        </div>
                    </div>
                </div>
            </div> 
    
            <div class="flip-grid">
                <div class=" flip-card">
                    <div class="clean-sort sort-white flip-card-inner">
                        <div class="flip-card-front">
                            <h2>Deep cleaning</h2>
                        </div>
                        <div class="flip-card-back">
                            Intensive cleaning for hard-to-reach 
                            places and thorough sanitization, ideal for seasonal 
                            refreshes or special occasions.
                        </div>
                    </div>
                </div>
            
            </div>  

            <div class="flip-grid">
                <div class=" flip-card">
                    <div class="clean-sort sort-white flip-card-inner">
                        <div class="flip-card-front">
                            <h2>Moving-in/ Moving-out services</h2>
                        </div>
                        <div class="flip-card-back">
                            Specialized cleaning for transitions,
                             ensuring spaces are spotless for new occupants or post-move.
                        </div>
                    </div>
                </div>
            
            </div>  
        </section>
        
        <img id="mints" src="{% static 'assets/lin.jpg' %}" alt="quality-background-image">
    </div>
</section>
<section class="trusted ">
    <div class="gallery-slider-after"></div>
    <div id="me">
        <img class="trusted-child " src="{% static 'assets/sv3.jpg' %}" alt="">
    </div>
    <p class="trusted-text">OUR CLIENTS</p>
    <div class="gallery-container reveal">
        <div class="gallery-slider">
            <img src="{% static 'assets/call.png' %}" />
            <img src="{% static 'assets/call9.png' %}" alt="">
            <img src="{% static 'assets/call5.png' %}" alt="">
            <img src="{% static 'assets/call6.png' %}" alt="">
            <img src="{% static 'assets/call7.jpg' %}" alt="">
            <img src="{% static 'assets/call8.png' %}" alt="">
            <img src="{% static 'assets/call4.jpg' %}" alt="">
            <img src="{% static 'assets/call3.jpg' %}" />
            <img src="{% static 'assets/call2.png' %}" alt="">
            <img src="{% static 'assets/call19.jpg' %}" alt="">
            <img src="{% static 'assets/call18.png' %}" alt="">
            <img src="{% static 'assets/call17.jpg' %}" alt="">
            <img src="{% static 'assets/call16.jpg' %}" alt="">
            <img src="{% static 'assets/call15.png' %}" alt="">
            <img src="{% static 'assets/call13.png' %}" alt="">
            <img src="{% static 'assets/call12.jpg' %}">
            <img src="{% static 'assets/call14.png' %}" alt="">
            <img src="{% static 'assets/call11.jpg' %}">
            <img src="{% static 'assets/call10.jpg' %}" />
            <img src="{% static 'assets/call1.jpg' %}" />      
        </div>
        <div class="gallery-slider">
            <img src="{% static 'assets/call.png' %}" />
            <img src="{% static 'assets/call9.png' %}" alt="">
            <img src="{% static 'assets/call5.png' %}" alt="">
            <img src="{% static 'assets/call6.png' %}" alt="">
            <img src="{% static 'assets/call7.jpg' %}" alt="">
            <img src="{% static 'assets/call8.png' %}" alt="">
            <img src="{% static 'assets/call4.jpg' %}" alt="">
            <img src="{% static 'assets/call3.jpg' %}" />
            <img src="{% static 'assets/call2.png' %}" alt="">
            <img src="{% static 'assets/call19.jpg' %}" alt="">
            <img src="{% static 'assets/call18.png' %}" alt="">
            <img src="{% static 'assets/call17.jpg' %}" alt="">
            <img src="{% static 'assets/call16.jpg' %}" alt="">
            <img src="{% static 'assets/call15.png' %}" alt="">
            <img src="{% static 'assets/call13.png' %}" alt="">
            <img src="{% static 'assets/call12.jpg' %}">
            <img src="{% static 'assets/call14.png' %}" alt="">
            <img src="{% static 'assets/call11.jpg' %}">
            <img src="{% static 'assets/call10.jpg' %}" />
            <img src="{% static 'assets/call1.jpg' %}" />      
    </div>
    
</section>
<section class="what-they-say-section">
    <div class="what-they-say-overlay">
        
    </div>
    <div class="what-they-say-title">
        <p>
            Recent Reviews
        </p>
    </div>
    <div class="individual-sayings">
        <div class="individual-sayings-divs tumbs">
            <div class="individual-sayings-imgs">
                <img src="{% static 'assets/pass.jpeg' %}" alt="">
            </div>
            <div class="individual-sayings-bold">
                <P>
                    “Exceptional service, highly recommended for cleaning.”
                </P>
            </div>
            <div class="individual-sayings-texts">
                <p>
                    Harvesterken Cleaning delivers exceptional results with meticulous attention to detail,
                    professional staff, and cost-effective service. Highly recommended for a pristine 
                    home and unparalleled satisfaction.
                </p>
            </div>
        </div>
        <div class="individual-sayings-divs reveal">
            <div class="individual-sayings-imgs">
                <img src="{% static 'assets/pass.jpeg' %}" alt="">
            </div>
            <div class="individual-sayings-bold">
                <P>
                    “Harvesterken provides the best fumigation service.”
                </P>
            </div>
            <div class="individual-sayings-texts">
                <p>
                    Harvesterken team was prompt, professional, and communicative. I was impressed with their 
                    cleaning and would highly recommend their services to anyone in need of house cleaning.
                </p>
            </div>
        </div>
        <div class="individual-sayings-divs tumbs">
            <div class="individual-sayings-imgs">
                <img src="{% static 'assets/pass.jpeg' %}" alt="">
            </div>
            <div class="individual-sayings-bold">
                <P>
                    “Expert team, exceptional results—highly recommend Harvesterken.”
                </P>
            </div>
            <div class="individual-sayings-texts">
                    <p>
                        Kenny and his team expertly handled a challenging project, cleaning multiple buildings.
                         I'll use Harvesterken Professional Cleaning & Fumigation Service again without hesitation.
                    </p>
            </div>
        </div>
        <div class="individual-sayings-divs reveal">
            <div class="individual-sayings-imgs">
                <img src="{% static 'assets/pass.jpeg' %}" alt="">
            </div>
            <div class="individual-sayings-bold">
                <P>
                    “Prompt, professional, and impressive cleaning—highly recommended.”
                </P>
            </div>
            <div class="individual-sayings-texts">
                <p>
                    Harvesterken eradicated all rodents and cockroaches in my home.
                 They provide the best fumigation service I've ever experienced.
                </p>
            </div>
        </div>
        <div class="individual-sayings-divs tumbs">
            <div class="individual-sayings-imgs">
                <img src="{% static 'assets/pass.jpeg' %}" alt="">
            </div>
            <div class="individual-sayings-bold">
                <p>
                    “Exceptional results with meticulous detail—highly recommended for a pristine home.”
                </p>
            </div>
            <div class="individual-sayings-texts">
                The Harvesterken team cleaned my home excellently. They were prompt, professional, and communicative.
                 I highly recommend their services and will schedule more cleanings in the future.
            </div>
        </div>
    </div>
    <div class="say-img-holder">
        <img id="what-they-say-image" src="{% static 'assets/edited (2).jpg' %}" alt="">
    </div>
</section>
<section class="subscription">
    <div class="subscribe-img-holder">
        <img id="subscribe-img" src="{% static 'assets/dall1.avif' %}" alt="">
    </div>
    <div class="subscribe-overlay">

    </div>
    <div class="email-form">
        <div class="email-form-left">
            <p>
                WE LOOK FORWARD TO WORKING WITH YOU. KINDLY SAY HELLO TO START A STRONG PARTNERSHIP WITH US.  
            </p>
        </div>
        <div class="email-form-right">
            <form id="contact-form" data-url="{% url 'customer' }" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- form fields as before -->
                <label for="name"><p>FULL NAME:</p></label>
                <input type="text" id="name" name="name" required><br>
                <label for="mobile_number"><p>MOBILE NUMBER:</p></label>
                <input type="text" id="mobile_number" name="mobile_number" required><br>
                <label for="email">EMAIL:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="message">INPUT YOUR MESSAGE:</label><br>
                <textarea name="message" id="message"></textarea><br>
                <button type="submit">Send Email</button>
            </form>
            <div id="form-response"></div>
            <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} -->
        </div>
    </div>
</section>
<!-- <script src="{% static 'js/base.js' %}"></script> -->
{% endblock main %}