{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Harvesterken
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head %}

{% block main %}
    <h1 class="con-title">Contact US</h1>
    <div class="foe">
        <div class="contact_div">
            <img src="{% static 'assets/phone1.jpg' %}" alt="">
        </div>

        <div class="blast">
            <div class='blast-div'>
                <h2>Email:</h2>
                <p>abc.gmail.com</p>
            </div>
            <div class='blast-div'>
                <h2>Address:</h2>
                <p>
                    Kalejaye, Oke-itunu, Ibadan, Nigeria
                </p>
            </div>
        </div>
    </div>
{% endblock main %}