{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Harvesterken
    </title>
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    
    <!-- <link rel="stylesheet" href="{% static 'css/query.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/cleaning.css' %}">
{% endblock head %}

{% block main %}

<main>
    <body>
        <section class="navigation">
            <div class="overlay">
                <img src="" alt="">
            </div>
            <section class="hero-section">
                <div class="logo-wrapper">
                    <img src="{% static 'assets/logo.jpg' %}" alt="">
                </div>
                <p class="praise">
                    Cleaning shouldn't be a chore,<br>
                    that's why we're a call away, <br>
                    to sweep you off your feet, every single day. <br>
                </p>
                    <div class="contact-btn">                       
                        <p class="contact ">CONTACT US</p><i class="fa-solid fa-phone"></i>
                    </div>               
                <div class="hero-div" >
                    <img id="hero" class="image" src="{% static 'assets/a.jpg' %}" alt="images">
                </div>
            </section>
        </section>
        <section class="trusted ">
            <div class="gallery-slider-after"></div>
            <div id="me">
                <img class="trusted-child " src="{% static 'assets/sv3.jpg' %}" alt="">
            </div>
            <p class="trusted-text">OUR CLIENTS</p>
            <div class="gallery-container reveal">
                <div class="gallery-slider">
                    <img src="{% static 'assets/call.png' %}" />
                    <img src="{% static 'assets/call9.png' %}" alt="">
                    <img src="{% static 'assets/call5.png' %}" alt="">
                    <img src="{% static 'assets/call6.png' %}" alt="">
                    <img src="{% static 'assets/call7.jpg' %}" alt="">
                    <img src="{% static 'assets/call8.png' %}" alt="">
                    <img src="{% static 'assets/call4.jpg' %}" alt="">
                    <img src="{% static 'assets/call3.jpg' %}" />
                    <img src="{% static 'assets/call2.png' %}" alt="">
                    <img src="{% static 'assets/call19.jpg' %}" alt="">
                    <img src="{% static 'assets/call18.png' %}" alt="">
                    <img src="{% static 'assets/call17.jpg' %}" alt="">
                    <img src="{% static 'assets/call16.jpg' %}" alt="">
                    <img src="{% static 'assets/call15.png' %}" alt="">
                    <img src="{% static 'assets/call13.png' %}" alt="">
                    <img src="{% static 'assets/call12.jpg' %}">
                    <img src="{% static 'assets/call14.png' %}" alt="">
                    <img src="{% static 'assets/call11.jpg' %}">
                    <img src="{% static 'assets/call10.jpg' %}" />
                    <img src="{% static 'assets/call1.jpg' %}" />      
                </div>
                <div class="gallery-slider">
                    <img src="{% static 'assets/call.png' %}" />
                    <img src="{% static 'assets/call9.png' %}" alt="">
                    <img src="{% static 'assets/call5.png' %}" alt="">
                    <img src="{% static 'assets/call6.png' %}" alt="">
                    <img src="{% static 'assets/call7.jpg' %}" alt="">
                    <img src="{% static 'assets/call8.png' %}" alt="">
                    <img src="{% static 'assets/call4.jpg' %}" alt="">
                    <img src="{% static 'assets/call3.jpg' %}" />
                    <img src="{% static 'assets/call2.png' %}" alt="">
                    <img src="{% static 'assets/call19.jpg' %}" alt="">
                    <img src="{% static 'assets/call18.png' %}" alt="">
                    <img src="{% static 'assets/call17.jpg' %}" alt="">
                    <img src="{% static 'assets/call16.jpg' %}" alt="">
                    <img src="{% static 'assets/call15.png' %}" alt="">
                    <img src="{% static 'assets/call13.png' %}" alt="">
                    <img src="{% static 'assets/call12.jpg' %}">
                    <img src="{% static 'assets/call14.png' %}" alt="">
                    <img src="{% static 'assets/call11.jpg' %}">
                    <img src="{% static 'assets/call10.jpg' %}" />
                    <img src="{% static 'assets/call1.jpg' %}" />      
            </div>
            
        </section>
    
        <section class="about " id="claim">
            <div class="about-head ">
                <p class="reveal">ABOUT HARVESTERKEN</p>
            </div>
            <div class="about-text">
                <p class="blue red">WHO WE ARE</p>
                <p class="text-child">So-kleen limited is a professional cleaning and space brightening company.</p>
                <div class="blue">
                    <p>WE ARE DIFFERENT THAN THE REST</p>                  
                </div>
                <p class="text-child">At Harvesterken, we pride ourselves on being more than just a cleaning company. 
                    We're a team of dedicated professionals who are passionate about delivering exceptional
                    cleaning services that exceed our customers' expectations. We believe that cleaning is not 
                    just about removing dirt and dust, but about creating a healthy and comfortable environment
                    that enhances your quality of life. That's why we use only the latest cleaning technologies
                    and eco-friendly solutions that prioritize your health and the environment.
    
                </p>
                
                <p class="text-child down">What sets us apart from other cleaning companies is our commitment to personalized service 
                    and attention to detail. We take the time to understand your unique cleaning needs and tailor
                    our services to meet those needs. Our team is highly trained and background-checked, so you 
                    can trust that your home or office is in good hands. We're not just cleaning your space – we're 
                    helping you create a healthier, happier, and more productive environment. At Harvesterken, we're 
                    dedicated to delivering exceptional cleaning services that make a real difference in your life.
                </p>
            </div>
            
        </section>
        <section class="quality-service" id="x-call">
            <div class="quality-background-image">
                <div class="quality-overlay">
                    
                </div>
                <div class="sort-title">
                    <h1>OUR SERVICES</h1>
                    <h4>Choose the fitting category for you job!</h4>
                </div>
                <div class="sort-holder">
                    <div class="sort sort-white" id="sort-1">
                        <h4>Pest control service</h4>
                        <h1>N30,000 - N150,000 per month</h1>
                        <hr>
                        <p>Initial inspection</p>
                        <p>Follow-up treatments</p>
                        <p> Service plan</p>
                        <button><i class="fa-regular fa-rectangle-list"></i> Request a quote</button>
                    </div>
                    <div class="sort" id="sort-2">
                        <h4>DOMESTIC CLEANING SERVICES</h4>
                        <h1>N35,000 - N300,000 per month</h1>
                        <hr>
                        <p>Floor and Surface Cleaning</p>
                        <p>Glass and Surface Cleaning</p>
                        <p>Bathroom deep cleaning</p>
                        <p>Kitchen Deep Cleaning</p>
                        <p>Hygiene and sanitation</p>
                        <p>Rugs</p>
                        <button><i class="fa-regular fa-rectangle-list"></i> Request a quote</button>
                    </div>
                    <div class="sort sort-white" id="sort-3">
                        <h4>Move-in Move-out</h4>
                        <h1>N70,000 - N200,000 per month</h1>
                        <hr>
                        <p>Residential relocation</p>
                        <p>Office relocation</p>
                        <p>Ware house relocation</p>
                        <p>Delivery of packages</p>
                        <button><i class="fa-regular fa-rectangle-list"></i> Request a quote</button>
                    
                    </div>
                </div>
                <img src="{% static 'assets/quality.jpg' %}" alt="quality-background-image">
            </div>
        </section>
    </body>
</main>

{% endblock main %}